<!DOCTYPE html>
<html lang="en">

<head>
         {{>HeaderLinks}}
   
    <link rel="stylesheet" href="./css/404.css">
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="middle">
                    <div class="col-md-6 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="./images/404.png" class="img404" alt="sayantan">
                        </figure>
                        <p>Welcome to Weather app</p>
                        <h1>{{errMsg}}</h1>
                        <a href="/"><button>go back</button></a>
                    </div>

            </div>
        </div>
    </div>
    </div>
    </div>
    {{>footer}}
</body>

</html>