<!DOCTYPE html>
<html lang="en">

<head>
     {{>HeaderLinks}}
    <link rel="stylesheet" href="./css/about.css">

</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-11 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="./images/sayantan1.jpg" alt="sayantan">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather app</p>
                        <h1>I Am A<span class="text_clr"> MERN Stack Developer</span> Freelancer And A Blogger</h1>
                        <a href=""><button>about me</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    {{>footer}}
</body>

</html>