<!DOCTYPE html>
<html lang="en">
<head>
    {{>HeaderLinks}}
</head>
<body>
{{>navbar}}
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to Weather app</p>
                    <h1>Get The Latest <span class="text_clr">Weather</span> Info of Your City</h1>
                    <a href="/weather"><button>Check Now</button></a>
                </div>
                <div class="col-md-6 col-12 main_header_right">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="images/bg1.png" class=" w-100 bg_img" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="images/bg4.png" class=" w-100 bg_img" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="images/bg3.png" class=" w-100 bg_img" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="images/bg2.png" class="w-100 bg_img" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="images/bg5.png" class="w-100 bg_img" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 {{>footer}}

</body>
</html>